<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>
<body style="color: aliceblue;">
    <img src="">
    <div style="display: grid; padding: 3em; justify-content: center; ; ">
    <h1 style="padding-bottom: 1em;">
        Password  Reset 
        <span style=" color: green;">[Successfully Reset]</span>
    </h1>
    <div style="font-size: 1.5em;">
    <p style="padding: 0; margin: 0;">
        Hello 
        <span style="color: blue;">{{user.name}}</span>,
        Welcome Back.
    </p>
    <p style="padding: 0; margin: 0;">
        You have successfully reset your account password 
    </p>
    <p style="padding-top: 2em; margin-top: 1em;padding-bottom: 2em; margin-bottom: 1em;">
        If that was not you, you can kindly contact support
    </p>
    </div>
    <p style="color: dimgray; padding-top: 2em; margin-top: 1em;">
        From: <br> 
        Event Ticket Team
    </p>
</div>
</body>
</html>