<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8" />
 <title>title</title>
</head>
<body>
    <div style="display: grid; padding: 3em; justify-content: center; gap: 10px; font-size: 25px;">
        <h1 style="color: white;"> Event Ticket Signup  <span style="color: green;">[Successful Signup]</span> </h1>
        <p style="color: white; display: flex;">hello {{user.name}} welcome to Event Ticket</p>
        <p style="color: white;">Your Account has been successfully created</p>
        <p style="color: rgba(255, 255, 255, 0.279);">Event Ticket Team</p>
        <p style="color: rgba(255, 255, 255, 0.279);">this is a system email,please do not reply</p>
    </div>
</body>
</html>